body{
    width: 90%;
    background-color: #fee3fc;
    margin: 0px 30px;
    padding: 20px;
    font-size: 1.2em;
}

.imagen{
    width: 80%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1{
    font-size: 60px;
}